body {
  margin: 0;
  padding: 0;
  background: white;
}

canvas {
  display: block;
  margin: 0 auto;
  background: white;
}

.howto {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 25vw;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: justify;
  color: #7c7c7c;
}

a {
  text-decoration: none;
  color: #3c5288;
}
